bin/Debug/netcoreapp3.1/Azure.AI.TextAnalytics.dll
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/Azure.Core.dll
bin/Debug/netcoreapp3.1/Cog.deps.json
bin/Debug/netcoreapp3.1/Cog.dll
bin/Debug/netcoreapp3.1/Cog.exe
bin/Debug/netcoreapp3.1/Cog.pdb
bin/Debug/netcoreapp3.1/Cog.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Cog.runtimeconfig.json
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
obj/Cog.csproj.nuget.cache
obj/Cog.csproj.nuget.dgspec.json
obj/Cog.csproj.nuget.g.props
obj/Cog.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.1/Cog.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Cog.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Cog.assets.cache
obj/Debug/netcoreapp3.1/Cog.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Cog.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Cog.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Cog.dll
obj/Debug/netcoreapp3.1/Cog.exe
obj/Debug/netcoreapp3.1/Cog.pdb
